@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
*{
  min-width: 0;
  min-height: 0;
  @apply flex-none tracking-tight
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  @apply bg-white text-neutral-800
}

@layer base {
  .content {
    @apply w-full max-w-screen-lg mx-auto
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
